@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
.container{
    padding: 0 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 208, 87);
}
.container h2 {
    text-transform: uppercase;
    font-size: 34px;
    color: #000000;
    text-shadow: -1px -1px 0 #fff , 1px -1px 0 #fff;
}
input[type="text"] {
    padding: 23px 51px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 8px;
}
button.copy_btn {
    padding: 27px 41px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-size: 21px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
.container button.click-btn {
    padding: 20px 97px;
    margin-top: 40px;
    font-size: 22px;
    background-color: #b6ffe9;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ;
}
.container button:hover{
    background-color: rgb(29, 21, 21);
    color: #fff;
}


/* popUp styling  */

.over_lay {
    height: 0vh;
    width: 100vw;
    background-color: rgba(73, 73, 73, 0.86);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.msg_wrap {
    background-color: rgb(163, 225, 187);
    text-align: center;
    padding: 54px;
    border-radius: 10px;
    transition: all 0.4s;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    transform: scale(0);
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.close img {
    width: 25px;
    cursor: pointer;
}
.msg-body {
    height: 100px;
    width: 100px;
    margin: 20px;
}
.msg-body img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.msg-body p {
    font-size: 20px;
    font-weight: 600;
}



@media (max-width: 780px ) {
    .msg_wrap{
        left: 23%;
    }
    
}